@use "../../stylesheets/fonts" as fonts;
@use "../../stylesheets/colors" as colors;
@use "../../stylesheets/sizes" as sizes;

// 麵包屑
.breadcrumb {
  .breadcrumb-item {
    & + .breadcrumb-item::before {
      color: colors.$gray-400;
    }

    a {
      color: colors.$gray-500;
    }

    &.active {
      color: colors.$gray-500;
      font-weight: fonts.$font-weight-bold;
    }
  }
}

// 步驟進度條
.checkout-steps {
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .circle {
      width: 52px;
      height: 52px;
      border-radius: 40px;
      background-color: colors.$gray-200;
      color: colors.$white;
      display: flex;
      align-items: center;
      justify-content: center;
      @include lg {
        width: 40px;
        height: 40px;
        font-size: sizes.$font-size-base;
      }
    }

    &.active .circle {
      background-color: colors.$primary-600;
    }

    .step-label {
      font-weight: fonts.$font-weight-bold;
      color: colors.$gray-200;
      min-width: 124px;
      &.active {
        color: colors.$gray-400;
      }
      @include lg {
        font-size: sizes.$small-font-size;
        letter-spacing: 0.07em;
        min-width: 72px;
      }
    }
  }

  .line {
    flex-grow: 1;
    align-self: center;
    border-top: 2px dashed colors.$gray-200;
    max-width: 146px;
    &.active {
      border-top: 2px dashed colors.$primary-600;
    }
  }
}

// 購物車訂單內容
.cart-contents {
  // 去除預設底線
  .table > :not(caption) > * > * {
    border-bottom-width: 0;
  }
  .btn-custom-primary.text-danger:hover {
    background-color: #f8d7da;
  }
  .text-multiline-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cart-table-mobile {
    display: none;

    @include lg {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .text-multiline-truncate {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .cart-table {
    display: table;

    @include lg {
      display: none;
    }
    .cart-table-head {
      th {
        background-color: transparent;
        padding: 0 8px 12px 8px;
        border: 0;
      }
      th p {
        background-color: colors.$gray-200;
        border-radius: 4px;
        padding: 8px 12px;
        text-align: end;
        color: colors.$gray-600;
      }
    }
    .cart-table-body {
      .cart-item-last {
        border-color: colors.$gray-100;
      }
      td {
        border-bottom: 1px solid colors.$gray-200;
        padding: 12px 8px;
        background-color: transparent;
      }
    }
    .cart-table-foot {
      td {
        padding: 12px 8px;
        background-color: transparent;
      }
    }
  }
}
// 購物車出貨內容
.shipping-information-table {
  display: table;
  th {
    background-color: transparent;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: colors.$gray-500;
    width: 526px;
    font-size: sizes.$h5-font-size;
  }
  td {
    background-color: transparent;
    color: colors.$gray-500;
  }
  @include lg {
    display: none;
  }
}

.shipping-information-table-mobile {
  display: none;

  @include lg {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    padding: 0 8px;
  }
}
// 購物車按鈕
.cart-button {
  letter-spacing: 0.1em;
  @include lg {
    letter-spacing: 0.09em;
  }
}
// 購物車標題下橫線
.divider-line {
  border-bottom: 1px solid colors.$gray-200;
}
