.seafoam-overlay {
  position: relative;
  display: inline-block;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition:
    box-shadow 0.4s ease,
    transform 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: radial-gradient(
    //   circle,
    //   rgba(139, 176, 183, 0.12) 0%,
    //   rgba(139, 176, 183, 0.06) 100%
    // );
    background-color: rgba(139, 176, 183, 0.2);
    z-index: 1;
    pointer-events: none;
    border-radius: inherit;
  }

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(-0.5px) scale(0.98);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: inherit;
  }
}
